<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Document</title>
</head>

<body>
    <div class="login" id=<%=name %>>
        <h1>Enter New Password</h1>
        <div class="inputs">
            <label for="password">Password<input type="text" placeholder="Password" name="password" id="password"
                    required /></label>
            <div id="password-credentials" class="password-credentials">
                <ul>
                    <li id="length">Minimum 8 characters long</li>
                    <li id="upper-case">One Uppercase letter at least</li>
                    <li id="lower-case">One lowercase letter at least</li>
                    <li id="oneNumber">One Number</li>
                </ul>
            </div>
            <label for="confirmPassword">Confirm Password<input type="text" placeholder="confirmPassword"
                    name="confirmPassword" id="confirmPassword" required /></label>
            <div id="message"></div>
        </div>
        <button class="signup-btn" id="change-password">Change Password</button>
    </div>

    <script>
        document.getElementById("password").addEventListener('keyup', () => {
            let passValue = document.getElementById("password").value;
            let upperCase = /[A-Z]/;
            let lowerCase = /[a-z]/;
            let oneNumber = /[0-9]/;
            let minimumLength = /^.{8,}$/;
            if (upperCase.test(passValue)) {
                document.getElementById("upper-case").style.color = "green";
            }
            else {
                document.getElementById("upper-case").style.color = "rgb(255, 60, 60)";
            }

            if (lowerCase.test(passValue)) {
                document.getElementById("lower-case").style.color = "green";
            }
            else {
                document.getElementById("lower-case").style.color = "rgb(255, 60, 60)";
            }

            if (oneNumber.test(passValue)) {
                document.getElementById("oneNumber").style.color = "green";
            }
            else {
                document.getElementById("oneNumber").style.color = "rgb(255, 60, 60)";
            }
            if (minimumLength.test(passValue)) {
                document.getElementById("length").style.color = "green";
            }
            else {
                document.getElementById("length").style.color = "rgb(255, 60, 60)";
            }

        })

        document.getElementById("confirmPassword").addEventListener("keyup", () => {
            let pass = document.getElementById("password");
            let confirmPass = document.getElementById("confirmPassword");
            if (pass.value != confirmPass.value) {
                document.getElementById("message").innerText = "Password not matched";
            }
            else {
                document.getElementById("message").innerText = "";
            }

        })

        let changeBtn = document.getElementById("change-password");
        changeBtn.addEventListener("click", async () => {
            let passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;

            let password = document.getElementById("password");
            let confirmPass = document.getElementById("confirmPassword");
            if (password.value == confirmPass.value) {
                if (passwordPattern.test(password.value)) {
                    let userName = changeBtn.parentNode.id;
                    let data = {
                        newPassword: password.value,
                        username: userName
                    }
                    let opt = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    }

                    let response = await fetch("/changePassword",opt);
                    let responseObj = await response.json();
                    if(responseObj.status == 200){
                        window.location.href = "/login";
                    }
                    else{
                        document.getElementById("message").innerText = responseObj;
                    }
                }
            }
        })
    </script>
</body>

</html>